.menuTitle {
  background-color: #757575;
  text-align: center;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  font-size: 18px;
  border-bottom: 1px solid #ffffff;
}

.menuList {
  padding: 0px 15px;
  display: none;
}

.menuList li {
  list-style: none;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  padding: 0px 5px;
  cursor: pointer;
}

.menuList li:hover {
  background-color: #ddd!important;
}
